{% extends "AthenaIhmBundle::layout.html.twig" %}

{% block athena_body %}

	{{ include("AthenaIhmBundle:Main:header.html.twig") }}

	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		Connecté en tant que {{ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
	{% else %}
		<a href="{{ path('fos_user_security_login') }}">Connexion</a>
	{% endif %}

	{% set Roles = "" %}

	{% for role in user.roles %}
		{% set Roles = Roles ~ ", " ~ role %}
		{% set Roles = Roles|slice(1, Roles|length )%}
	{% endfor %}

	{% if user.enabled %}
		{% set active = "checked" %}
	{% else %}
		{% set active = "" %}
	{% endif %}

	{% if "ROLE_ADMIN" not in user.roles %}
		{% set disabled = "disabled" %}
	{% else %}
		{% set disabled = "" %}
	{% endif %}

	<div class="container">

		<form>
			<fieldset>
				<legend>Mon Profil</legend>
				<p>
					<label for="pseudo">Pseudo :</label><input readonly type="text" value="{{ user.username }}" /><br />
					<label for="Role">Role :</label><input readonly type="text" value="{{ Roles }}"/><br />
					<label for="Droit">E-Mail :</label><input readonly type="text" value="{{ user.email }}"/><br />
					<div class="switch">
						<label id="Active">Compte Actif : 
							<input {{ disabled }} {{ active }} type="checkbox">
							<span class="lever"></span>
						</label>
					</div>
					<br />
					<a class="waves-effect waves-light btn" href="{{ path('fos_user_change_password') }}">Changer de Mot de Passe</a>
				</p>
			</fieldset>
		</form>

	</div>
{% endblock %}