{% extends "AthenaIhmBundle::layout.html.twig" %}

{% block athena_body %}

	{{ include("AthenaIhmBundle:Main:header.html.twig") }}

	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		Connecté en tant que {{ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
	{% else %}
		<a href="{{ path('fos_user_security_login') }}">Connexion</a>
	{% endif %}

	<div class="section center  z-depth-3">
		<h5>Dossier à Exclure</h5>
	</div>
	<br />

	<div class="container">
		<div class="row">
			<div class="col s12 m6 l6 z-depth-1">
				<form metod="post" action="{{ path('athena_set_exclude') }}" > 
					<div class="input-field">
						<textarea name="ExMen" class="materialize-textarea">{{ excludeMenContent }}</textarea>
						<label for="textarea1">Sauvegarde Mensuelle (Hebdomadaire Incrementielle)</label>
						<div class="center card-action">
							<a class="waves-effect waves-light btn"><input type="submit" value="Exclure" /></a>
						</div><br />
					</div>
				</form>
			</div>

			<div class="col s12  m6 l6 z-depth-1">
				<form metod="post" action="{{ path('athena_set_exclude') }}"> 
					<div class="input-field">
						<textarea name="ExHeb" class="materialize-textarea">{{ excludeHebContent }}</textarea>
						<label for="textarea1">Sauvegarde Hebdomadaire (Journalière Incrementielle)</label>
						<div class="center card-action">
							<a class="waves-effect waves-light btn"><input type="submit" value="Exclure" /></a>
						</div><br />
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}
