{% extends "AthenaIhmBundle::layout.html.twig" %}

{% block athena_body %}

	{{ include("AthenaIhmBundle:Main:header.html.twig") }}

	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		Connecté en tant que {{ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
	{% else %}
		<a href="{{ path('fos_user_security_login') }}">Connexion</a>
	{% endif %}

	<div class="section center z-depth-3">
		<h5>Export de Configuration</h5>
	</div>
	<br/>

	<div class="container">
		<div class="col s12 m4 l6">
			<div class="card">
				<div class="card-content black-text">

					<form class="center" method="post" action="{{ path('athena_download') }}">
						<p class="center">Voulez-vous télécharger votre fichier de configuration Athena ?</p>
				</div>

				<div class="center card-action">
						<button class="btn waves-effect waves-light green" type="submit" name="action">Oui
							<i class="small material-icons right">send</i>
						</button>
						<a class="waves-effect waves-light btn red" href="{{ path('athena_core') }}">Non</a>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
