<div name="Dropdown-menu-state">

	<ul id='Save' class='dropdown-content'>
		<li><a href="{{ path('athena_core') }}">Etat</a></li>
		<li><a href="{{ path('athena_freq') }}">Fréquence</a></li>
		<li class="divider"></li>
		<li><a href="{{ path('athena_excep') }}">Exceptionnel</a></li>
	</ul>

	<ul id='Param' class='dropdown-content'>
		<li><a href="{{ path('athena_include') }}">Inclusion</a></li>
		<li><a href="{{ path('athena_exclude') }}">Exclusion</a></li>
		<li class="divider"></li>
		<li><a href="{{ path('athena_param') }}">Paramètrage</a></li>
	</ul>

	<ul id='Conf' class='dropdown-content'>
		<li><a href="{{ path('athena_import') }}">Import</a></li>
		<li><a href="{{ path('athena_export') }}">Export</a></li>
	</ul>

</div>